<div class="row">
    <div class="media banner" ng-repeat="p in data |filterByObj:filterObj |filterByObj:filterName" ui-sref="position({id:p.id})">
        <a href="#" class="media-left">
            <img src="{{p.imageUrl}}" alt="" width="100" height="100">
        </a>
        <div class="media-body">
            <h3 class="media-heading">{{p.companyName}}</h3>
           <p>
               <span>{{p.companyName}}</span><span>[{{p.cityName}}]</span><span>[{{p.scaleName}}]</span>
           </p>
           <p>{{p.salaryName}}</p>
           <span>{{p.date}}</span>
        </div>
    </div>
</div>